<body>
  <div class="content container-fluid">
    <div class = "row">
      <div class = "col-md-3 col-sm-3">
        <div class = "user-information">
          <h3>EXAM1 Twitterアプリ</h3>
          <p>ユーザー名とか</p>
        </div>
      </div>
      <div class = "col-md-8 col-sm-6">
        <div class = "wrapper col-md-12 col-md-offset-2 col-sm-12">
          <p><%= notice %></p>
          <% @tweet.each do |tweet| %>
          <div class = "row">
            <p><%= tweet.content %></p>
            <%= link_to "ツイートを編集する", edit_tweet_path(tweet.id), data: {confirm: '本当に編集していいですか？'}, class: 'btn btn-default btn-sm btn-success'  %>
            <%= link_to "ツイートを削除する", tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger'  %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>


  <!-- <div class = "container">
    <div class = "wrapper col-md-8 col-md-offset-2 col-sm-10">
      <p><%= notice %></p>
      <% @tweet.each do |tweet| %>
      <div class = "row">
        <p>ツイート:<%= tweet.content %></p>
        <%= link_to "ツイートを編集する", edit_tweet_path(tweet.id), data: {confirm: '本当に編集していいですか？'}, class: 'btn btn-default btn-sm btn-success'  %>
        <%= link_to "ツイートを削除する", tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger'  %>
      </div>
      <% end %>
    </div>
  </div>
</body> -->
